## functions
export(

baro5, 

boltzmann, B.3, B.4, B.5, b3, b4, b5,

braincousens, BC.5, BC.4, bcl3, bcl4, 

cedergreen, CRS.4a, CRS.4b, CRS.4c, CRS.5a, CRS.5b, CRS.5c, CRS.6, ml3a, ml3b, ml3c, ml4a, ml4b, ml4c, 

ucedergreen, UCRS.4a, UCRS.4b, UCRS.4c, UCRS.5a, UCRS.5b, UCRS.5c, uml3a, uml3b, uml3c, uml4a, uml4b, uml4c, 

expDecay, 

gompertzd,

llogistic, LL.2, LL.3, LL.3u, LL.4, LL.5, l2, l3, l3u, l4, l5,

llogistic2, LL2.2, LL2.3, LL2.3u, LL2.4, LL2.5,

MM,

richards, 

weibull1, W1.2, W1.3, W1.4, w2, w3, w4, 

weibull2, W2.2, W2.3, W2.4,

boxcox.drc, colFct, compParm, diagnostics, drm, drmc, ED, isobole, MAX, mdControl, mixdrc, mixture, mselect, multdrc, plotraw, PR, rdrm, searchdrc, SI)

#importFrom(MASS, boxcox, ginv)

## S3 methods
S3method(anova, drc)
S3method(coef, drc)
S3method(confint, drc)
S3method(fitted, drc)
S3method(logLik, drc)
S3method(plot, drc)
S3method(predict, drc)
S3method(print, drc)
S3method(print, summary.drc)
S3method(residuals, drc)
S3method(summary, drc)
S3method(summary, mixdrc)
S3method(update, drc)
S3method(vcov, drc)


